.backButtonContainer {
    display: flex;
    width: 22.5rem;
    padding: 0.875rem 1rem;
    align-items: center;
    gap: 0.625rem;
    margin-top: 2rem;
}

.registerBanner {
    margin-left: 1rem;
    margin-top: 1.9375rem;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    .registerHeading {
        color: #1c3207;
        font-family: Figtree;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .registerBody {
        color: #1c3207;
        font-family: Figtree;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.registerForm {
    width: 90%;
    position: relative;
    left: 1rem;
    top: 1.5rem;
}

.forwardArrow {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
